*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section{
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    background-color: #255EE9;
}

a{
    text-decoration: none;
    padding: 5px;
    margin: 0 15px;
    display: inline-block;
    color: white;
    font-size: 20px;
}

button{
    background-color: white;
    border-radius: 25px;
    padding: 7px;
    border: none;
}

button > a{
    color: black;
    font-weight: 200;
    margin: 0;
}

img{
    height: 100%;
}

.header-flex{
    display: flex;
    width: 70%;
    margin: 20px auto;
}

.head-itemssx, .head-itemsdx{
    flex-grow: 1;
    padding: 10px;
}

.head-itemsdx{
    text-align: end;
    
}

.head-itemscnt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
    padding: 10px;
}



.section-1{
    background-image: url(./img/jumbo.png);
    background-size: cover;
}

.block{
    margin: 150px auto;
    width: 50%;
    text-align: center;
    color: white;
}

.block h1{
    font-size: 50px;
    margin: 20px 0 20px 0;
}

.block-test{
    font-size: 20px;
    margin: 20px 0 20px 0;
}

.section-1 button{
    margin: 10px;
}

.black-button{
    background-color: #23272A;
}
.black-button a{
    color: white;
}



.section-2{
    display: flex;
    justify-content: center;
}

.section-2-image{
    width: 40%;
}

.section-2-text{
    width: 30%;
    margin: 20px 0 20px 0;
    padding: 20px;
}

.section-2-text h1{
    font-size: 40px;
    line-height: 55px;
}

.section-2-text div{
    margin: 20px 0 10px 0;
    font-weight: bold;
    font-size: 15px;
}

.wave{
    width: 100%;
}



.section-3{
    background-color: #F6F6F6;
}
.section-3-block{
    margin: 40px auto;
    text-align: center;
    width: 70%;
}

.section-3 h1{
    font-size: 52px;
    margin-bottom: 30px;
}
.section-3-text{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}
.section-3-image{
    height: 800px;  /* Non sono convinto */
}
.section-3-bottom-text{
    width: 50%;
    margin: 0 auto;
    font-size: 35px;
    font-weight: bold;
    height: 60px;
    background-image: url(./img/stars.svg);
    background-size: cover;
    padding-top: 30px;
}

.section-3 button{
    margin: 50px;
    background-color: #255EE9;
}
.section-3 button a{
    color: white;
}




.section-4{
    display: flex;
    background-color: black;
    justify-content: center;
    height: 500px;
}

.section-4-items-brown{
    width: 20%;
    background-color: brown;
    margin: 20px 0 20px 0;
    border: 1px solid;
}

.section-4-items-light-blue{
    display: flex;
    flex-basis: 50%;
    margin: 20px 0 20px 0;;
    background-color: aquamarine;
}

.section-4-items-light-blue > div{
    flex-basis: calc(100% / 4);
    border: 1px solid white;
}

footer{
    border-top: 1px solid grey;
    background-color: black;
    
}

.footer-flex{
    display: flex;
    width: 70%;
    margin: 10px auto;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 10px 0 10px 0;
}

.footer-flex button{
    background-color: pink;
    border: 1px solid;
    padding: 5px;
}